.bg-login{
   background-color: #343a40;
}

.white-text{
    color: aliceblue;
}

.myimg{

}

body {
    /* Background pattern from Toptal Subtle Patterns
    height: 400px;
    width: 100%;
    background-image: url("../img/uan.jpg");*/
 }

 .mylogo{
    width: 300px;
    height: 300px;
 }
 .home{
    max-width: 100%;
    max-height: 1000px;
    background-image: url('../img/home.jpg');

 }

 .img-home{
    height: 100%;
    width: 100%;
 }

 .m-right{
    margin-bottom: 20px;
 }

 .top{
    margin-top: 30px;
 }

 .allwidth{
    width: 100%;
 }

 .mycenter{
    margin: 0 auto;
 }

 .logo-img{
    width: 170px;
    height: 60px;
 }

 .rounded-input{
    border-radius: 4px;
 }

 .white-text{
    color:white;
 }

.margin-left{
    margin-left: 30px;;
}

.font-color{
    color: aliceblue!important;
}

.mt-mine{
 margin-left: 2px;
 padding-right: 2px;
}

.justify-content-center {
    justify-content: center !important;
  }

  .d-flex {
    display: flex !important;
  }

.table-dark{
    background-color:black;
    color:aliceblue;
    border-radius:6px;
    margin: 0;
    padding: 0;
}

.card{
    background-color:rgb(30, 71, 255);
    border-radius:6px;
    margin-top: 50px;
}

.card-header{
    background-color:rgb(30, 71, 255);

    color:aliceblue;
    height: 30px;
    text-align: left;
    border-radius:6px;

}
.myp{
padding-top: 8px;
padding-left: 8px;
font-size: 16px;
}

.tbody{
    background-color:white;
}

.myrow{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.redcolor{
    color:red;
}

.greencolor{
    color:darkgreen;
}

.yellowcolor{
    color:darkgoldenrod;
}


.mbsc-page {
    padding: 1em!important;
    display: block!important;
    min-height: 0%!important;
    padding: var(--mbsc-safe-top) var(--mbsc-safe-right) var(--mbsc-safe-bottom) var(--mbsc-safe-left)!important;
}

.my_input {
    width: 100%;
    margin-top: -50px;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.largurarow{
    width: 75%!important;
    margin: 0 auto;

}
.mydarkcolor{
    color:#343a40;
}
